langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
langchain-qdrant
langchain-experimental
llama-index
qdrant-client
sentence-transformers
python-dotenv
unstructured
numpy<2.0.0
pydantic
fastapi
uvicorn
ragas>=0.2.0
datasets
matplotlib
langchain-openai
sqlalchemy
psycopg2-binary
langchain-groq


